.profile{
    height: 525px;
    width: 700px;
  
    margin: auto;
    margin-top: 100px;
  
    background: url('../images/form_profile.png'), #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
  }
  
  .profile div img {
    height: 180px;
    width: 180px;
  
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .label {
    font-size: 24px;
    font-weight: 700;
    color: #3D5554;
  
  
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .email {
    font-size: 18px;
    font-weight: 400;
    color: #3D5554;
  
  
    margin-left: 40px;
  }
  
  .profile button{
    height: 50px;
    width: 150px;
  
    border-radius: 10px;
  
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #C99C33;
  
    white-space: normal;
  
    margin-top: 40px;
  }

  .profile button:hover{
    background: #c99c3377;
  }